

.container {
    font-family: Arial, sans-serif;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.317);
    line-height: 1.6;
    max-width: 640px;
    margin: 0 auto;
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 50px;
    margin-top:150px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}
@media (max-width: 780px) {
    body{
        padding: 0 5px;
    }
    .container {
        padding: 10px 25px;
        margin:60px auto;
    }
}
.container hr{
    height: 2px;
    border: none;
    background-color: #707070;
}
.container h2 {
   font-size: 22px;
   font-weight:500;
}
.container ul li{
     display: flex;
    align-items: center;
    height: 45px;
    padding-left:15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
    }
    .container button{
        margin: auto;
        width: 250px;
        height: 40px;
        background-color: #6130ff;
        color: #fff;
        font-size: 25px;
        font-weight: 500;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
.container button:hover{
    background-color: #3a00a5;
}
.container button:active{
    transform: scale(0.98);
}
.container .index{
    margin: auto;
    font-size: 20px;
}
.container .correct{
    background-color:#74ffc7;
    border-color: #00ad7c;
}
.container .wrong{
    background-color: #ffb3b3;
    border-color: #ff6161;
}
